<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>User info</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootstrap-4.ru/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>


</head>
<body onload="updateCurrentUser()">

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-md-11">
            <h3>
                <p style="color: white" id="userInfo"></p>
            </h3>
        </div>
        <div class="col-md-1">

            <button type="button" class="btn btn-dark" onclick="window.location.href='/logout'">
                Log out
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-info-list" data-bs-toggle="list" href="#list-info" role="tab" aria-controls="list-info">User</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-info" role="tabpanel" aria-labelledby="list-info-list">
                    <div class="col-md-10"> <!-- таблица -->

                        <h3 class="text-left">
                            User info
                        </h3>
                        <table class="table">

                            <thead>
                            <tr>
                                <th> ID </th> <th> Name </th> <th> Age </th> <th> Roles </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr id="userRow"></tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function updateCurrentUser() {
        await fetch("http://localhost:8080/admin/current")
            .then(response => response.json())
            .then(user => {
                document.getElementById("userInfo").innerHTML = "User : " + user['name'] + ' with roles : '+ user['rolesAsString']
                document.getElementById("userRow").innerHTML =
                    "<td>" + user['id'] + "</td>" +
                    "<td>" + user['name'] + "</td>" +
                    "<td>" + user['age'] + "</td>" +
                    "<td>" + user['rolesAsString'] + "</td>"
            })
    }
</script>
</body>
</html>
